@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.p{
    color: white;
    font-family: 'Poppins';
    margin-top: 15px;

}
.arrow{
    color: white;
    font-family: 'Poppins';
    margin-top: 3px;
}
.img{
    margin-left: 10px;
    margin-top: 10px;
    width: 335px;
    height: 314px;
}
.password-reset{
    color: rgb(214, 123, 25);
    font-family: 'Poppins';
}
h1{
    color: #ffcc99;
    font-family: 'Poppins';
    margin-left: 0px;
}
.p1{
   color: rgb(214, 123, 25);
   font-family: 'Poppins';
}
ion-button{
    margin-top: 10px;
    margin-left: 2px;
    width: 250px;
    height: 40px;
}