<!-- 
<ion-header>
  <ion-toolbar  color="background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Recover your Passowrd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  color="background">
    <img class="img" src="./assets/icon/Group 6809.png"> 
    <form>
      <ion-row>
        <ion-col>
          <ion-item  color="background" lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="background_home"
            (click)="authService.PasswordRecover(email.value)"
            expand="block"
          >
            <p1 class="p">Send Password Reset Mail</p1>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content> -->
<ion-app>
  <ion-header>
    <ion-toolbar  color="background">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> Recover your Passowrd</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  color="background">
    <ion-grid fixed>
      <ion-row><img class="img" src="./assets/icon/Group 6809.png"></ion-row>
      <ion-row><ion-item  color="background" lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item></ion-row>
    <ion-row><ion-button
      type="submit"
      color="background_home"
      (click)="authService.PasswordRecover(email.value)"
      expand="block"
    >
      <p1 class="p">Send Password Reset Mail</p1>
    </ion-button></ion-row>
  </ion-grid>
  </ion-content>
</ion-app>