@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
ion-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
    margin-left: 8px;
    margin-top: 0px;
    width: 200px;
    height: 250px;
}
.google {
  margin-top: 0px;
  margin-left: 70px;
  width: 35px;
  height: 35px;
}
.apple {
  margin-left: 30px;
  width: 35px;
  height: 35px;
}
.fb {
  margin-left: 0px;
  width: 35px;
  height: 35px;
}
.p2{
    color: white;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-left: 0px;

}
.arrow{
    color: white;
    font-family: 'Poppins';
    margin-top: 3px;
}
.p1{
    color: rgb(214, 123, 25);
    font-family: 'Poppins';
    font-weight: bold;
}
  ion-button{
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 40px;
  }
  .divider {
    margin-top: 0px;
    display: flex;
    align-items: center;
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  .line {

    align-items: center;
    margin: 1em 1em;
    color: #cccccc;
    margin-top: 0px;

    &:before,

    &:after {
      align-items: center;
      height: 1px;
      margin: 0 1em;
      margin-top: 0px;
    }
  }
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
       align-items: center;
       margin-top: 1px;
    }
  }
  ion-button{
    margin-top: 5px;
  }