.img{
    margin-left: 50px;
    margin-top: 50px;
    width: 263px;
    height: 343.35px;
}
.google {
  margin-left: 52px;

    width: 43px;
    height: 46px;
}
.apple {
  margin-left: 70px;
  width: 45px;
  height: 46px;
}
.fb {
  margin-left: 70px;
    width: 43px;
    height: 46px;
}
.p2{
    color: white;
    font-family: Georama;
    margin-top: 20px;
}
.arrow{
    color: white;
    font-family: Georama;
    margin-top: 3px;
}
h1{
    color: #ffcc99;
    font-family: Georama;
    margin-left: 0px;
}
.p1{
    color: rgb(214, 123, 25);
    font-family: Georama;
}
.divider {

    display: flex;
    &:before,

    &:after {
      content: "";
      flex: 1;
    }
  }
  .line {
    align-items: center;
    margin: 1em 1em;
    color: #cccccc;
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }