ion-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 250px;
}
.google {
  margin-top: 5px;
  margin-left: 1px;
}
.apple {
  margin-top: 5px;
  margin-left: 50px;
  width: 45px;
  height: 45px;
}
.fb {
  margin-top: 5px;
  margin-left: 50px;
}
.p2{
    color: white;
    font-family: Georama;
    margin-top: 20px;
    margin-left: 0px;

}
.arrow{
    color: white;
    font-family: Georama;
    margin-top: 3px;
}
h1{
    color: #ffcc99;
    font-family: Georama;
    margin-left: 0px;
}
.p1{
    color: rgb(214, 123, 25);
    font-family: Georama;
}
.divider {
    display: flex;
    &:before,

    &:after {
      content: "";
      flex: 1;
    }
  }
  .line {
    align-items: center;
    margin: 1em 1em;
    color: #cccccc;
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }
  ion-button{
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 40px;
  }
  