.p{
    color: white;
    font-family: Georama;
    margin-top: 3px;

}
.arrow{
    color: white;
    font-family: Georama;
    margin-top: 3px;
}
.img{
    margin-left: 10px;
    margin-top: 109px;
    width: 353px;
    height: 293.73px;
}
.password-reset{
    color: rgb(214, 123, 25);
    font-family: Georama;
}
h1{
    color: #ffcc99;
    font-family: Georama;
    margin-left: 0px;
}
.p1{
    color: rgb(214, 123, 25);
    font-family: Georama;
}