@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
ion-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2{
    color: white;
    font-family: 'Poppins';
    margin-top: 20px;

}
.arrow{
    color: white;
    font-family: 'Poppins';
    margin-top: 3px;
}
.img{
  margin-left: 10px;
  width: 250px;
  height: 220px;
}
.password-reset{
    color: rgb(214, 123, 25);
    font-family: 'Poppins';
    margin-top: 0px;
    font-weight: bold;
    
}
h1{
    color: #ffcc99;
    font-family: 'Poppins';
}
.p1{
    color: rgb(214, 123, 25);
    font-family: 'Poppins';
    margin-left: 0px;
    font-weight: bold;
    margin-top: 3px;
}
  .divider {
    margin-top: 1px;
    display: flex;
    &:before,

    &:after {
      content: "";
      margin-top: 1px;
      flex: 1;
    }
  }
  .line {
    align-items: center;
    margin: 1em 1em;
    margin-top: 1px;
    color: #cccccc;
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
      margin-top: 1px;
    }
  }
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
       margin-top: 1px;
    }
  }

  .dont {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: #262323;
  }
  ion-button{
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 40px;
  }
  .google {
    margin-top: 0px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
  }
  .apple {
    margin-top: 0px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
  }
  .fb {
    margin-top: 0px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
  }