ion-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2{
    color: white;
    font-family: Georama;
    margin-top: 20px;

}
.arrow{
    color: white;
    font-family: Georama;
    margin-top: 3px;
}
.img{
  margin-left: 10px;
  margin-top: 0px;
  width: 300px;
  height: 250px;
}
.password-reset{
    color: rgb(214, 123, 25);
    font-family: Georama;
    margin-top: 1px;
    
}
h1{
    color: #ffcc99;
    font-family: Georama;
}
.p1{
    color: rgb(214, 123, 25);
    font-family: Georama;
    margin-left: 1px;
    margin-top: 1%;
}
  .divider {

    display: flex;
    &:before,

    &:after {
      content: "";
      flex: 1;
    }
  }
  .line {
    align-items: center;
    margin: 1em 1em;
    color: #cccccc;
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }

  .dont{
    margin-top: 0px;
    margin-left: 10px;
  }
  ion-button{
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 40px;
  }
  .google {
    margin-top: 3px;
    margin-left: 1px;
  }
  .apple {
    margin-top: 3px;
    margin-left: 50px;
    width: 45px;
    height: 45px;
  }
  .fb {
    margin-top: 3px;
    margin-left: 50px;
  }