<!-- <ion-header collapse="fade">
  <ion-toolbar color="background">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title ><h1>Sign in</h1></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="background">
  <img class="img" src="./assets/icon/loginImage.png"> 
  <ion-item color="background">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" autocapitalize="sentences" autocomplete="off" #email required></ion-input>
  </ion-item>
  <ion-item  color="background">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" autocapitalize="sentences" autocomplete="off" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="background_home" type="submit" (click)="logIn(email, password)" expand="block"
        ><p class="p2">Login</p> <img class="arrow" src="./assets/icon/arrow_forward_24px.png"></ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
      <p
      class="password-reset"
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']"
      >
        Reset password?
    </p>
  </ion-row>
  <ion-row>
    <p class="dont">
      Don't you have Account?</p>
      <p
      expand="block"
      color="warning"
      [routerLink]="['/registration']"
      class="p1">
     Reigster Here
  </p>
  </ion-row>
  <span class="divider line one-line">or continue with</span>
      <img class="google" src="./assets/icon/google.png" (click)="authService.GoogleAuth()">
      <img class="apple" src="./assets/icon/apple.png" (click)="authService.GoogleAuth()">
      <img class="fb" src="./assets/icon/fb.png" (click)="authService.FacebookAuth()">
</ion-content> -->
<ion-app >
  <ion-header collapse="fade">
    <ion-toolbar color="background">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title ><h1>Sign in</h1></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="background">
    <ion-grid fixed>
      <ion-row><img class="img" src="./assets/icon/loginImage.png">
      </ion-row>
      <ion-row><ion-item color="background">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" autocapitalize="sentences" autocomplete="off" #email required></ion-input>
      </ion-item><ion-item  color="background">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" autocapitalize="sentences" autocomplete="off" #password required></ion-input>
      </ion-item><ion-button color="background_home" type="submit" (click)="logIn(email, password)" expand="block"
      ><p class="p2">Login</p> <img class="arrow" src="./assets/icon/arrow_forward_24px.png"></ion-button
    ></ion-row>
      <ion-row><p
        class="password-reset"
          expand="block"
          color="warning"
          [routerLink]="['/password-reset']"
        >
          Reset password?
      </p></ion-row>
      <ion-row><p class="dont">
        Don't you have Account?</p>
        <p
        expand="block"
        color="warning"
        [routerLink]="['/registration']"
        class="p1">
       Reigster Here
    </p></ion-row>
      <ion-row>
        <span class="divider line one-line">or continue with</span>
        <ion-row>
          <img class="google" src="./assets/icon/google.png" (click)="authService.GoogleAuth()">
        <img class="apple" src="./assets/icon/apple.png" (click)="authService.GoogleAuth()">
        <img class="fb" src="./assets/icon/fb.png" (click)="authService.FacebookAuth()">
        </ion-row>
        </ion-row>
    </ion-grid>
  </ion-content>

</ion-app>