ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
ion-avatar {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
.name{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logout{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
}