.profile{
    width: 134.37px;
    height: 138px;
    margin-top: 118px;
    margin-left: 125px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
ion-avatar {
    --border-radius: 50%;
    width: 120px !important; 
    height : 120px !important;
  }