<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="background">
  
  <div class="profile" *ngIf="authService.userData as user">
    <ion-avatar><img  src="{{(user.photoURL) ? user.photoURL : '/assets/Group 6818.png'}}">
      <h1>Name: <strong>{{(user.userName) ? user.userName : 'User'}}</strong></h1>
        <p>Email:
          <br>
          <strong>{{user.email}}</strong></p>
  </div>
</ion-content>
<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="authService.SignOut()" expand="block"
      >Log out</ion-button
    >
  </ion-col>
</ion-row>
<!-- <ion-button type="submit" (click)="authService.SignOut()" expand="block"
  >Logout</ion-button> -->
  <!-- <div class="Profile" *ngIf="authService.userData as user">
    <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="./assets/icon/Group 6818.png">
    <div class="Profile">
      <p>Email: <strong>{{user.email}}</strong></p>
</div>
</div> -->
