@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
ion-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 0px;
  width: 240px;
  height: 53px;
  border-radius: 12px;
  font-family: Georama;
  font-weight: 900;
  font-size: 30px;
  background: #FFAC40;
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: #87D642;
}
button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.logo{
  margin-top: 50px;
  margin-left: 51px;
}
.h1{
  margin-top: 30px;
  text-align: center;
  font-size:30px;
  font-family: Georama;
  font-weight: bolder;
  align-items: center;
  color: #ffffff;
}

.h2{
  margin-top: 0px;
  text-align: center;
  font-size:30px;
  font-family: Georama;
  font-weight: bolder;
  align-items: center;
  color: #ffffff;
}
.img{
  margin-left: -20px;
  margin-top: -20px;
  width: 300px;
  height: 320px;
}
ion-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
