<!-- <ion-content   scroll-y="false" color="background_home" >
  <img class="logo" src="./assets/icon/Group 2.png">
    <h1 class="h1"> GROCERIES IN  10MINS</h1>
    <h1 class="h2">“FAST DELIVERY AVAILABLE”</h1>
    <button type="submit" [routerLink]="['/registration']">Get Started</button>
    <img  class="bu"
    src="./assets/icon/pngegg (1) 2.png">
</ion-content> -->
<ion-app>
<ion-content scroll-y="false" color="background_home">
  <ion-grid >
    <ion-row>
      <img class="logo" src="./assets/icon/Group 2.png"></ion-row>
      <ion-row><h1 class="h1"> GROCERIES IN  10MINS</h1></ion-row>
      <ion-row><h1 class="h2">“FAST DELIVERY AVAILABLE”</h1></ion-row>
      <ion-row> <button type="submit" [routerLink]="['/registration']">Get Started</button></ion-row>
      <ion-row><img  class="img"
        src="./assets/icon/pngegg (1) 2.png"></ion-row>
  </ion-grid>
</ion-content>
</ion-app>
